<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr style="min-height:100px">
        <td width="50%" style="min-height:100px">
            @Html.Sitecore().DynamicPlaceholder("left-email")
        </td>
        <td>
            @Html.Sitecore().DynamicPlaceholder("right-email")
        </td>
    </tr>
    <tr>
        <td height="5"></td>
    </tr>
</table>
