<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td height="5"></td>
    </tr>
</table>
<table class="socialGroup" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
        <td align="center" class="mob-menu-width-face" style="width: 15%;">
            <a href="#" target="_blank">
                <img class="emailwrapto100pc" style="display: block;" src="/assets/img/icons/sd-new-social-0516_01.jpg" width="100%" alt="Facebook" border="0" />
            </a>
        </td>
        <td align="center" class="mob-menu-width-twit" style="width: 17.2%;">
            <a href="#" target="_blank">
                <img class="emailwrapto100pc" style="display: block;" src="/assets/img/icons/sd-new-social-0516_02.jpg" width="100%" alt="Twitter" border="0" />
            </a>
        </td>
        <td align="center" class="mob-menu-width-goog" style="width: 18.5%;">
            <a href="#" target="_blank">
                <img class="emailwrapto100pc" style="display: block;" src="/assets/img/icons/sd-new-social-0516_03.jpg" width="100%" alt="Google Plus" border="0" />
            </a>
        </td>
        <td align="center" class="mobile-hide" style="width:16.7%;">
            <a href="#" target="_blank">
                <img class="mobile-hide" style="display: block;" src="/assets/img/icons/sd-new-social-0516_04.jpg" width="100%" alt="Pinterest" border="0" />
            </a>
        </td>
        <td align="center" class="mobile-hide" style="width:17.6%;">
            <a href="#" target="_blank">
                <img class="mobile-hide" style="display: block;" src="/assets/img/icons/sd-new-social-0516_05.jpg" width="100%" alt="YouTube" border="0" />
            </a>
        </td>
        <td align="center" class="mob-menu-width-insta" style="width: 15%;">
            <a href="#" target="_blank">
                <img class="emailwrapto100pc" style="display: block;" src="/assets/img/icons/sd-new-social-0516_06.jpg" width="100%" alt="Instagram" border="0" />
            </a>
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td height="5"></td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center">
            <a href="/sitecore%20modules/Web/EXM/Unsubscribe.aspx" target="_blank" style="color: #3b3b3b; text-decoration: underline;font-size:12px; line-height: 18px; font-family: 'Lato' , Arial, sans-serif; color: #3b3b3b; margin: 0px !important;">
                <font face="'Lato', Arial, sans-serif;">
                    Unsubscribe Here
                </font>
            </a>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="padding-left: 10px; padding-right: 10px;">
            <p style="font-size: 12px; font-family: 'Lato' , Arial, sans-serif; color: #333333; display: block; line-height: 1.8em; margin: 0;">
                <font face="'Lato', Arial, sans-serif;">
                    COMPANY INFO<br />
                    <span class="apple-links" style="color: #666666; text-decoration: none;">
                        <font face="'Lato', Arial, sans-serif;">
                            Sitecore Cinema, St Katharines' Docks, London
                        </font>
                    </span><br />
                    VAT registration number: GB898439743 - Company registration number: 03406347
                </font>
            </p>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
</table>
