@using Sitecore.EmailCampaign.SampleNewsletter.Repositories
@using Sitecore.EmailCampaign.SampleNewsletter
@using Sitecore.EmailCampaign.SampleNewsletter.Extensions
@using Sitecore.EmailCampaign.Model.Web.Settings
@model RenderingModel

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="view-web-txt" style="padding-top: 5px; padding-left: 10px;">

            <a href="/?sc_itemid=@Sitecore.Context.Item.ID&sc_lang=en" style="font-size:12px; font-family:Arial, sans-serif;" >
                @Html.Sitecore().Field("ViewOnlineClickHere", Model.Item)
            </a>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center" style="padding: 0 10px;">
            <a href="/" target="_blank =">@Html.Sitecore().Field("logo", Model.Item, new { @style= "display: block; max-width: 420px;", @w="420", @class="emailwrapto100pc" })</a>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#191919">
    <tr>
        <td width="20%" class="mob-menu-width-23" valign="middle" align="center" style="text-align: center; vertical-align: middle;padding: 10px 0; border-right: 1px solid #505050;">
            <a href="/now-showing" target="_blank" class="menu-txt" style="color: #FFFFFF; text-transform: uppercase; text-decoration: none;font-size:13px; font-family: 'Lato' , Arial, sans-serif; margin: 0px !important; display: block; line-height: 1.6em;">
                <font face="'Lato', Arial, sans-serif;">
                    Now Showing
                </font>
            </a>
        </td>

        <td width="20%" class="mob-menu-width-23" valign="middle" align="center" style="text-align: center; vertical-align: middle;padding: 10px 0; border-right: 1px solid #505050;">
            <a href="/cinema-info" target="_blank" class="menu-txt" style="color: #FFFFFF; text-transform: uppercase; text-decoration: none;font-size:13px; font-family: 'Lato' , Arial, sans-serif; margin: 0px !important; display: block; line-height: 1.6em;">
                <font face="'Lato', Arial, sans-serif;">
                    Cinema Info
                </font>
            </a>
        </td>
        <td width="20%" class="mob-menu-width-23" valign="middle" align="center" style="text-align: center; vertical-align: middle;padding: 10px 0; border-right: 1px solid #505050;">
            <a href="/specials" target="_blank" class="menu-txt" style="color: #FFFFFF; text-transform: uppercase; text-decoration: none;font-size:13px; font-family: 'Lato' , Arial, sans-serif; margin: 0px !important; display: block; line-height: 1.6em;">
                <font face="'Lato', Arial, sans-serif;">
                    Specials
                </font>
            </a>
        </td>
        <td width="20%" class="mob-menu-width-23" valign="middle" align="center" style="text-align: center; vertical-align: middle;padding: 10px 0; border-right: 1px solid #505050;">
            <a href="/sitecore-unlimited" target="_blank" class="menu-txt" style="color: #FFFFFF; text-transform: uppercase; text-decoration: none;font-size:13px; font-family: 'Lato' , Arial, sans-serif; margin: 0px !important; display: block; line-height: 1.6em;">
                <font face="'Lato', Arial, sans-serif;">
                    SC Unlimited
                </font>
            </a>
        </td>
        <td width="20%" class="mob-menu-width-23" valign="middle" align="center" style="text-align: center; vertical-align: middle;padding: 10px 0; border-right: 1px solid #505050;">
            <a href="/account" target="_blank" class="menu-txt" style="color: #FFFFFF; text-transform: uppercase; text-decoration: none;font-size:13px; font-family: 'Lato' , Arial, sans-serif; margin: 0px !important; display: block; line-height: 1.6em;">
                <font face="'Lato', Arial, sans-serif;">
                    Account
                </font>
            </a>
        </td>
    </tr>
</table>

<!-- Above is the Header - DO NOT CHANGE ABOVE THIS POINT -->
