<section class="g-py-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @Html.Sitecore().DynamicPlaceholder("left")
            </div>
            <div class="col-lg-3">
                @Html.Sitecore().DynamicPlaceholder("centre")
            </div>
            <div class="col-lg-3">
                @Html.Sitecore().DynamicPlaceholder("right")
            </div>
        </div>
    </div>
</section>
