<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">



  
  <sitecore>

    <settings>
      <!-- IP Adress Overide-->
      <setting name="GeoIP.OverrideLookupURL" value="http://myip.dnsomatic.com/" />
    </settings>

    <pipelines>
      <createVisit>
        <processor
          patch:before="processor[@type='Sitecore.Analytics.Pipelines.CreateVisits.XForwardedFor, Sitecore.Analytics']"
          type="SC9Demo.Configuration.Pipelines.Analytics.OverrideIPAddress, SC9Demo">
        </processor>
      </createVisit>
    </pipelines>
    

    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
        </add>
      </providers>
    </linkManager>

    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="movie_genres"  patch:after="fieldType[@fieldName='version']" returnType="string">SC9Demo.Configuration.Search.ComputedIndex.ComputedGenreField, SC9Demo</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>


    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <!-- value of 'name' property must be unique -->
          <schema name="documentationmodel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
            <param desc="modeltype">SitecoreCinema.Model.Collection.SitecoreCinemaModel, SitecoreCinema</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>    
  </sitecore>
</configuration>